:root {
    --primary: #9356DC;
    --background2: #F6F6F6;
}


.fonctionnement
{
    display:flex;
    flex-direction:column;

}

.fonctionnement h1
{
    font-size: 24px;
    font-weight: 700;
    padding-left:5%;
}

.fonctionnement_box
{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:24px;
}

.fonctionnement_box_button
{
    display:flex;
    align-items:center;
    height: 4.52rem;
    border-radius: 20px;
    background:var(--background2);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    width:92%;

}

.fonctionnement_box_button_chiffre
{
    display:flex;
    align-items:center;
    justify-content:center;
    width:24px;
    height:24px;
    font-size: 14.182px;
    background: var(--primary);
    border-radius:100%;
    margin-right:10%;
    color:white;
    position: relative;
    right: 11px;
}

.fonctionnement_box_button_content
{
    display:flex;
    align-items:center;
    gap:11px;

}

.fonctionnement_box_button_content_ico
{
    height:16px;

}

.fonctionnement_box_button_content_text
{
    font-size: 16px;
    font-weight: 500;

}
