:root
{
    --grey: #353535;
    --background2: #F6F6F6;
    --backgroundButton:linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
}


.presentation
{

    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:var(--background2);
}

.presentation h1
{
    font-size: 24px;
    font-weight: 700;
    text-align:center;
}

.presentation p
{
    font-size: 18px;
    font-weight: 300;
    color: var(--grey);
    text-align:center;
}

.presentation button
{
    background:var(--backgroundButton);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-style: none;
    height:3.125rem;
    width:62%;
    color:white;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3.438rem;
    font-weight: 500;
}
