@import 'header.css';
@import 'presentation.css';
@import 'fonctionnement.css';
@import 'restaurants.css';
@import 'pdp.css';

body
{
margin:0px 0px 0px 0px;
font-family:Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

